@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
body{
	background-color: #000;
}
.wrapper{
	width:1000px;
	margin: 0 auto;
}
/*FLIPPING GALLERY*/
#flipping-gallery{
	background:url(../images/backgroud.jpg) no-repeat top left;
	width: 1000px;
	height: 524px;
	position: relative;
	bottom: 0;
}
.dmx3DFlipGallery{
	position: absolute;
	
}
.dmx3DFlipGallery h4{
	text-align: center;
	font-family: 'Harry Potter', cursive;
}
.dmx3DFlipPhotoBack{
	background: url(../images/flip-back.jpg) no-repeat top left;
	
}
#dmx3dFlipGallery5 .dmx3DFlipPhotoBack{
	padding-left: 19px;

}
.dmx3DFlipPhotoBack h4{
	text-align: left;
	margin-bottom: 5px;
	
}
.dmx3DFlipPhotoBack p{
	padding-right: 7px;
	text-shadow: 0 0 5px #CCCCCC;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
}
.dmx3DFlipPhotoFront{
	padding: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	o-border-radius: 3px;
	box-shadow: 0 0 2px #000;
}
#dmx3dFlipGallery1{
	top: 112px;
	left: 10px;
}
#dmx3dFlipGallery2{
	top: 156px;
	left: 153px;
}
#dmx3dFlipGallery3{
	top: 117px;
	left: 283px;
}
#dmx3dFlipGallery4{
	top: 79px;
	left: 411px;
}
#dmx3dFlipGallery4 .dmx3DFlipPhotoWrapper {
	z-index: 100;
}
#dmx3dFlipGallery5{
	top: 101px;
	left: 538px;
}
#dmx3dFlipGallery6{
	top: 171px;
	left: 674px;
}
#dmx3dFlipGallery7{
	top: 131px;
	left: 817px;
}
header{
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
}
header .wrapper{
	height: 117px;
	position: relative;
}
header img{
	display:block;
	position: absolute;
	top: -35px;
	left: 25px;
	z-index:100;
}
/*HEADER*/
header nav{
	position: absolute;
	bottom: 0px;
	right: 65px;
}
.button
{
    margin: 0 3px;
    text-decoration: none;
    font: bold 1.2em 'Trebuchet MS',Arial, Helvetica; 
    display: inline-block;
    text-align: center;
    color: #fff;
    border: 1px solid #9c9c9c; 
    border: 1px solid rgba(0, 0, 0, 0.3);            
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -o-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -o-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
}
.button, .button span{
	border-top-right-radius: .3em;
	border-top-left-radius: .3em;
	-moz-border-top-right-radius: .3em;
	-webkit-border-top-left-radius: .3em;
	-webkit-border-top-right-radius: .3em;
	-o-border-top-left-radius: .3em;
	-o-border-top-right-radius: .3em;
}
.button span{
    border-top: 1px solid #fff; 
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 17px 20px;    
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
                      -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);    
    -moz-background-size: 3px 3px;
    -webkit-background-size: 3px 3px;
	-o-background-size: 3px 3px;
    -o-background-size: 3px 3px;
    background-size: 3px 3px;            
}

.button:hover{
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
	-o-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}

.button:active
{
    position: relative;
    top: 1px;
}
.button-black {            
	background: #141414;            
	background: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#141414) );            
	background: -moz-linear-gradient(-90deg, #656565, #141414);            
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#656565', EndColorStr='#141414');        
}                
.button-black:hover{           
	background: #656565;            
	background: -webkit-gradient(linear, left top, left bottom, from(#141414), to(#656565) );            
	background: -moz-linear-gradient(-90deg, #141414, #656565);            
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#141414', EndColorStr='#656565');        
}                
.button-black:active{            
	background: #141414;        
}  
/*MAIN CONTENT*/
#info{
	margin:20px 0;
}
#info article{
	float: left;
	color: #fff;
	margin: 5px 15px;
    width: 303px;
	text-align: center;
	border-bottom:1px solid #ccc;
}
#info article h2{
	font-family: 'Harry Potter', cursive;
	font-size:21px;
	margin-bottom: 5px;
	text-align:center;
	text-shadow: 1px 2px 1px grey;
	text-transform: uppercase;
}
#info article p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:justify;
	line-height: 27px;
	text-indent: 15px;
}
.small{
	margin-top:25px;
}             
.small span{
	border-radius: .3em;
	border-radius: .3em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	-o-border-radius: .3em;
	font-size: 14px;
    padding: 5px 10px;
}

.font-harry{
	font-family: 'Harry Potter', cursive;
}